{% extends "layout.html" %}
{% from 'macros/paginator.html' import paginate %}
{% from 'macros/snippets.html' import connections, entity_link %}

{% block title %}Explore{% endblock %}

{% block content %}
      <h3>Search
        {% if main_schema %}
          {{ main_schema.meta.plural or main_schema.label }}
        {% endif %}
        {% if query_text %}
          for '{{ query_text }}'
        {% else %}
          in {{APP_NAME}}
        {% endif %}
      </h3>

      <table class="table table-search">
        {% for result in pager %}
          <tr>
            <td>
              {{ entity_link(result) }}
            </td>
            <td>
              {{ result | snippet | truncate(60) }}
            </td>
            <td class="num">
              {{connections(result.degree)}}
             </td>
          </tr>
        {% endfor %}
      </table>

      {{ paginate(pager) }}
{% endblock %}
