{% extends "layout.html" %}
{% from 'paginator.html' import paginate %}

{% block title %}
  Explore
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-12">
      <form class="form-horizontal" role="form">
        <div class="form-group col-xs-12">
          <input type="text" class="form-control" name="q"
            value="{{query}}"
            placeholder="Search for people, companies and institutions...">
        </div>
        <!--div class="form-group col-xs-2">
          <button type="submit" class="btn btn-default">Search</button>
        </div-->
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <table class="search-results table">
        {% for result in paginator.results.results %}
          <tr>
             <td>
                <a href="/entities/{{result.id}}.html">{{result.properties.name.value}}</a>
             </td>
             <td>
                <a href="{{result.api_url}}">api url</a>
             </td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <div class="col-md-3">
      <h4>Types of brass</h4>
      <ul>
        {% for schema, count in schema_facet.results %}
          <li>
            {% if schema.name in schema_facet.active %}
              <a href="{{query_remove('schema', schema.name)}}">{{schema.label}}</a> ({{count}})
            {% else %}
              <a href="{{query_add('schema', schema.name)}}">{{schema.label}}</a> ({{count}})
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {{ paginate(paginator) }}
{% endblock %}

{% block js %}{% endblock %}


