{% extends "layout.html" %}

{% block title %}
  Welcome
{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1>{{APP_NAME}}</h1>
    <p>
      We explore the links between politics, power and money in 
      South Africa.
    </p>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h3>What is {{APP_NAME}}?</h3>
      <p>
        Our database is a resource for anyone interested in how relationships -
        biographical, professional or economic - influence the people and process
        in South African politics.
        <a href='{{url_for('base.page', path='about')}}'>Read more...</a>
      </p>
    </div>
    <div class="col-md-4">
      <h3>Data summary</h3>
      <table class="data-summary">
        {% for schema, count in schemata %}
          <tr>
            <td class="number"><strong>{{count}}</strong></td>
            <td><a href='{{url_for('browser.view', schema=schema.name)}}'>{{schema.meta.plural or schema.label}}</a></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
