{% extends "layout.html" %}
{% from 'macros/snippets.html' import connections, entity_link %}

{% block title %}
  Welcome
{% endblock %}

{% block banner %}
  <div class="home-banner">
    <div class="container">
      <h1>
        {{APP_NAME}}
        <small>we know each other</small>
      </h1>
    </div>
  </div>
{% endblock %}

{% macro top_list(res, title) %}
  <h4>{{title}}</h4>
  <table class="table table-condensed">
    {% for ent in res %}
      <tr>
        <td>{{ entity_link(ent) }}</td>
        <td class="num">{{ ent.degree }}</td>
      </tr>
    {% endfor %}
    <tr>
        <td colspan="2" class="num">...and {{res.data.total - res.data.limit}} more</td>
    </tr>
  </table>
{% endmacro %}

{% block content %}
  <p class="home-teaser">
    {{APP_NAME}} provides users with a tool to investigate the connections that exist between the private and public spheres in South Africa. Specifically, it provides a unique insight into the financial connectivities that can, and often do, determine how, when, and why money is expended by government. 
    <a href='{{url_for('base.page', path='about')}}'>Read more...</a>
  </p>
  <div class="row">
    <div class="col-sm-6">
      {{ top_list(people, 'Connected politicians')}}
    </div>
    <div class="col-sm-6">
      {{ top_list(orgs, 'Connected companies')}}
    </div>
  </div>
{% endblock %}
