<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}(Untitled){% endblock %} // {{APP_NAME}}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta name="author" content="Institute for Security Studies, Code for Africa, ANCIR">

    <meta name="og:site_name" content="{{APP_NAME}}">

    {% assets filters="less,cssmin,cssrewrite", output="style.css",
        "style/style.less"
    %}
      <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
  </head>
  <body>
    <div id="pagewrapper">
      <div class="container">
        {% block content %}{% endblock %}
      </div>
    </div>

    <footer>
      <div class="container">
        <p class="text-center">
          <a href="https://github.com/pudo/kompromatron">GitHub</a> &middot;
          <a href="http://grano.pudo.org/">grano</a>
        </p>
      </div>
      <hr>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>
              {{APP_NAME}} is a project of the <a href="http://iss.co.za">Institute
                for Security Studies</a> and the <a href="http://www.investigativecenters.org/">
                African Network of Centers for Investigative Reporting</a>, with support
              from the <a href="http://icfj.org">International Center for Journalists</a>.
            </p>
          </div>
          <div class="col-md-6 partners">
            <a href="http://www.iss.co.za">
              <img src="/static/images/iss_africa_alpha.png" alt="Institute for Security Studies">
            </a>
            <a href="http://www.icfj.org">
              <img src="/static/images/icfj_alpha.png" alt="International Center for Journalists">
            </a>
            <a href="http://www.investigativecenters.org/">
              <img src="/static/images/ancir_alpha.png" alt="African Network of Centers for Investigative Reporting">
            </a>
          </div>
        </div>
      </div>
    </footer>

    {% assets filters="uglifyjs", output="app.js",
          "vendor/jquery/dist/jquery.js",
          "vendor/bootstrap/js/collapse.js",
          "vendor/bootstrap/js/dropdown.js"
      %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block js %}{% endblock %}
  </body>
</html>

