<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}(Untitled){% endblock %} - {{APP_NAME}}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}power, influence, south africa, politics, corruption, connectedafrica, conflicts of interest, illicit ties, pretoria, cape town{% endblock %}">
    <meta name="author" content="Institute for Security Studies, Code for Africa, ANCIR">

    <meta name="og:site_name" content="{{APP_NAME}}">

    {% assets filters="less,cssmin,cssrewrite", output="gen/app.css",
        "style/style.less"
    %}
      <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300' rel='stylesheet' type='text/css'>

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
  </head>
  <body>
    <div class="container-fluid">
      {% include 'nav.html' %}
      {% block content %}{% endblock %}
    </div>
    {% include 'footer.html' %}
    
    {% assets filters="uglifyjs", output="gen/app.js",
          "vendor/jquery/dist/jquery.js",
          "vendor/bootstrap/js/collapse.js",
          "vendor/bootstrap/js/dropdown.js",
          "vendor/d3/d3.js",
          "vendor/webcola/WebCola/cola.v3.min.js",
          "js/graph.js"
      %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% include 'ga.html' %}
  </body>
</html>

