<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}(Untitled){% endblock %} // {{APP_NAME}}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta name="author" content="Institute for Security Studies, Code for Africa, ANCIR">

    <meta name="og:site_name" content="{{APP_NAME}}">

    {% assets filters="less,cssmin,cssrewrite", output="gen/style.css",
        "style/style.less"
    %}
      <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
  </head>
  <body>
    {% block content %}{% endblock %}

    <footer class="container">
      <p class="text-center">
        <a href="https://github.com/pudo/kompromatron">GitHub</a> &middot;
        <a href="http://grano.pudo.org/">grano</a>
      </p>
    </footer>

    {% assets filters="uglifyjs", output="gen/app.js",
          "vendor/jquery/dist/jquery.js",
          "vendor/bootstrap/js/collapse.js",
          "vendor/bootstrap/js/dropdown.js"
      %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block js %}{% endblock %}
  </body>
</html>

