{% extends "layout.html" %}
{% from 'macros/snippets.html' import connections %}

{% block title %}Companies, non-profits and other organizations{% endblock %}

{% macro render_org(org) %}
  <div class="org-item">
    <h4><a href="{{url_for('profile.view', id=org.id, slug=org.properties.name.value|slugify)}}">
      {{org.properties.name.value}}</a></h4>
    <span class="snippet">
        {% if 'summary' in org.properties %}
          {{ org.properties.summary.value | truncate(100) }}
        {% else %}
          {{org.schema.label}}, {{connections(org.degree)}}
        {% endif %}
    </span>
  </div>
{% endmacro %}


{% block content %}
  <div class="row">
    <div class="col-xs-12">
      <h3>Companies and organizations on {{APP_NAME}}</h3>
      <form class="form-search" role="form">
        <div class="form-group col-xs-12">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control main-search" name="q"
              value="{{query}}"
              placeholder="Search within {{pager | length}} companies and organizations...">
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="visible-xs-block visible-sm-block row">
    {% for result in pager %}
      <div class="col-xs-12">
        {{ render_org(result) }}
      </div>
    {% endfor %}
  </div>
  <div class="visible-md-block visible-lg-block row">
    {% for result in pager %}
      <div class="col-md-4">
        {{ render_org(result) }}
      </div>
      {% if loop.index % 3 == 0 %}
        </div>
        <div class="visible-md-block visible-lg-block row">
      {% endif %}
    {% endfor %}
  </div>

  {{ paginate(pager) }}
{% endblock %}

{% block js %}{% endblock %}


