{% extends "layout.html" %}

{% block title %}{{ display_name }}{% endblock %}

{% block content %}

<div class="col-md-2"></div>

<div class="col-md-10">
  <h1>
    {{ display_name }}
  </h1>
  <p class="subtitle">
    TODO
  </p>
</div>

<div class="col-md-2 panel-body" id="filters">
  <form>
    <h4>Relationships</h4>
    <div>
        <div class="form-control">
          <input type="checkbox" checked>
          <label>TODO</label>
        </div>
        <div class="form-control">
          <input type="checkbox" checked>
          <label>TODO<label>
        </div>
        <div class="form-control">
          <input type="checkbox" checked>
          <label>TODO</label>
        </div>
        <div class="form-control">
          <input type="checkbox" checked>
          <label>TODO</label>
        </div>
    </div>
    <div>
      <input type="text" class="form-control">
      <input type="submit" class="form-control" value="Search">
    </div>
  </form>
</div>

<div class="col-md-10">

  <div class="col-md-8" id="timeline">
    <h2>Timeline</h2>
    <ul>
    	<li>TODO</li>
    </ul>
  </div>

  <div class="col-md-4">
    <div id="bio" class="panel panel-default panel-body">
    	{% if person.properties.image_url %}
    		<img src="{{ person.properties.image_url.value }}" alt="{{ display_name }}">
    	{% else %}
    		<img src="{{ url_for('static', filename='images/profile.png') }}" alt="generic profile image">
    	{% endif %}
      <p>
        TODO
      </p>
      <p>
        <strong>Types: </strong>Person, Elected Representative, Political Candidate <a href="#" class="sources" data-toggle="popover" title="Sources" data-content="<a href='http://source.example.com'>http://source.example.com</a>">[1]</a><br/>
        <strong>Born: </strong>12 April 1942 <a href="#" class="sources" data-toggle="popover" title="Sources" data-content="<a href='http://source.example.com'>http://source.example.com</a>">[1]</a><br/>
        <strong>Full name: </strong>Jacob Gedleyihlekisa Zuma <a href="#" class="sources" data-toggle="popover" title="Sources" data-content="<a href='http://source.example.com'>http://source.example.com</a>">[1]</a></br>
      </p>
      <div id="related-entities" class="text-center">
      	TODO
      </div>
    </div>

    <div id="sources" class="panel panel-default panel-body">
      <h3>Sources</h3>
      <ul>
      	{% for source, n in source_map.iteritems() %}
      		<li id="source-{{ n }}">[{{ n }}] <a href="{{ source }}">{{ source }}</a></li>
      	{% endfor %}
      </ul>
    </div>

    <div>
	  	Icon made by Elegant Themes from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>
	  </div>
  </div>

</div>

{% endblock %}