{% extends "layout.html" %}
{% from 'macros/paginator.html' import paginate %}
{% from "macros/profiles.html" import render_relation, render_property %}
{% from "macros/snippets.html" import entity_link, relation_ts %}

{% block title %}{{ display_name }}{% endblock %}

{% block description %}
  {% if entity.properties.tagline %}
    {{ entity.properties.tagline.value | truncate }}
  {% elif entity.properties.summary %}
    {{ entity.properties.summary.value | truncate }}
  {% endif %}
{% endblock %}

{% macro context_block() %}
  <h1>
    {% block displayname %}{{ display_name }}{% endblock %}
  </h1>

  {% if entity.properties.summary %}
    <p class="legible-text">{{ entity.properties.summary.value | pa_shorten }}</p>
  {% elif entity.properties.tagline %}
    <p class="legible-text">{{ entity.properties.tagline.value | pa_shorten }}</p>
  {% endif %}
 
  <table class="table table-condensed table-properties">
    {% for property in properties %}
      <tr>
        <th width="25%">{{property.label}}:</th>
        <td class="property-value">
          {{property.value}}
          {% if property.source_url %}
            <!--a href="{{ property.source_url }}" class="source-ref"
              title="Source: {{ property.source_url | source_readable }}"
              data-toggle="tooltip" data-placement="right"><i class="fa fa-external-link-square"></i></a-->
            <span class="source-ref"
              title="Source: {{ property.source_url | source_readable }}"
              data-toggle="tooltip" data-placement="right"><i class="fa fa-external-link-square"></i></span>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endmacro %}

{% block banner %}
  {% if entity.degree < 200 %}
  <div class="profile-banner">
    <div class="image-box">&nbsp;</div>
    <div class="graph-box">
      <div class="container">
        <div id="graph-viz" data-entity-id="{{entity.id}}" data-api-endpoint="{{url_for('graph.proxy')}}"></div>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}

{% block content %}    
  {% if properties.image_full %}
    <div class="row">
    <div class="col-sm-3 col-sm-push-9">
        <img src="{{ entity | portrait_url }}" class="profile-image" alt="{{ display_name }}">
      </div>
      <div class="col-sm-9 col-sm-pull-3">
        {{ context_block() }}
      </div>
      
    </div>
  {% else %}
    {{ context_block() }}
  {% endif %}

  {% for section in relation_sections %}
    <h3 class="section-title">{{ section.schema.meta.section_label or section.schema.meta.plural or section.schema.label }}</h3>
    <p>{{section.schema.meta.get('section_text', '')}}</p>
    <table class="table table-condensed table-relations">
      <tr>
        <th>&nbsp;</th>
        {% for k, v in section.schema.meta.get('section_table', {}).items() %}
          <th>{{v}}</th>
        {% endfor %}
        <th>Dates</th>
        <th>Source</th>
      </tr>
      {% for relation in section.relations %}
        <tr>
          <td>
            {{ entity_link(relation.other) }}
          </td>
          {% for k, v in section.schema.meta.get('section_table', {}).items() %}
            <td>{{ relation.props.get(k) or '-' }}</td>
          {% endfor %}
          <td width="10%">
            {{ relation_ts(relation) }}
          </td>
          <td width="1%">
            {% if relation | relation_source %}
              {{ relation | relation_source | source_readable }}
              <!--a href="{{ relation | relation_source }}" class="source-ref"
                title="Source: {{ relation | relation_source | source_readable }}"
                data-toggle="tooltip" data-placement="left"><i class="fa fa-external-link-square"></i></a-->
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
    {{ paginate(section.pager) }}
  {% endfor %}
{% endblock %}
