{% extends "layout.html" %}

{% block title %}{{ display_name }}{% endblock %}

{% block content %}

<div class="col-md-12">
  <h1>
    {% block displayname %}{{ display_name }}{% endblock %}
  </h1>
  <p class="subtitle">
    {% block subtitle %}{% with key="tagline", render_source=1 %}{% include "p.html" %}{% endwith %}{% endblock %}
  </p>
</div>

<div class="col-md-12">

  <div class="col-md-8">
    {% block centerpanel %}
    <div>
      {% block filters %}
        <div id="filters" class="btn-group btn-group-sm btn-group-justified">
          {% for schema in relations.schemata %}
            <a class="btn btn-default{% if schema.name in relations.active_schemata %} active" href="{{ query_add('schema', schema.name) }}{% else %}" href="{{ query_remove('schema', schema.name) }}{% endif %}">{{ schema.meta.plural or schema.label }}</a>
          {% endfor %}
        </div>
      {% endblock %}
    </div>
    {% block timeline %}
    <div>
      <hr/>
      {% for rel in relations.non_temporal %}
        {% include "includes/relation.html" %}
      {% endfor %}
      {% for group in relations.temporal|groupby('properties.date_start.value.year')|reverse %}
        <div class="text-right"><h3><span class="label label-default">{{ group.grouper }}</span></h3></div>
        <hr/>
        {% for rel in group.list %}
          {% include "includes/relation.html" %}
        {% endfor %}
      {% endfor %}
    </div>
    {% endblock %}
    {% endblock %}
  </div>

  <div class="col-md-4">
    {% block rightpanel %}
    {% block bio %}
    <div id="bio" class="panel panel-default panel-body">
      {% if entity.properties.image_full %}
        <img src="{{ entity|portrait_url }}" alt="{{ display_name }}">
      {% else %}
        <img src="{% block defaultimageurl %}{% endblock %}" alt="generic profile image">
      {% endif %}
      <p>{% block biotext %}{% endblock %}</p>
      <p>
        {% block basicinfo %}
        <strong>Types: </strong>{{ schemata_map.values()|join(', ') }}<br/>
        {% for k, v in entity.properties.iteritems() %}
          <strong>{{ k|capitalize }}: </strong>{{ v.value }}<br/>
        {% endfor %}
        {% endblock %}
      </p>
      <div id="related-entities" class="text-center">
        {% block relatedentities %}{% endblock %}
      </div>
    </div>
    {% endblock %}

    {% block sources %}
    <div id="sources" class="panel panel-default panel-body">
      <h4>Sources</h4>
      <ol>
      	{% for source, n in source_map.iteritems() %}
          <li id="source-{{ n }}"><a href="{{ source }}">{{ source }}</a></li>
      	{% endfor %}
      </ol>
    </div>
    {% endblock %}

    <div>
	  	Icon made by Elegant Themes from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>
	  </div>
    {% endblock %}
  </div>

</div>

{% endblock %}