<div id="sidebar">
  <ul class="list-group">
    {% for schema, url, active, count in sidebar_schemata %}
      <li class="list-group-item">
        <a href="{{url}}">{{schema.meta.plural or schema.label}}</a>
        <small>{{count}}</small>
      </li>
    {% endfor %}
    <li class="list-group-item">&nbsp;</li>
    <li class="list-group-item"><a href="{{url_for('base.page', path='about')}}">About</a></li>
    <li class="list-group-item"><a href="{{url_for('base.page', path='data')}}">Data</a></li>
  </ul>
</div>
