
// Variables

@theme1: #66B3A7;
@theme2: #C0D4B6;
@theme3: #EEF0BD;
@theme4: #F0563D;
@theme5: #2C2F3B;

@theme-color: #1ad68f;
@light-gray: #ddd;
@dark-gray: #333;
@text-color: @dark-gray;


// Functional

@footer-background: @dark-gray;
@footer-foreground: @dark-gray;
@header-background: white;
@header-foreground: @theme-color;
@body-background: white;

// Core variables and mixins
@import "../vendor/bootstrap/less/variables.less";
@import "../vendor/bootstrap/less/mixins.less";

// @grid-float-breakpoint: @screen-desktop;
@brand-primary: @theme-color;

// Reset
@import "../vendor/bootstrap/less/normalize.less";
@import "../vendor/bootstrap/less/print.less";

// Core CSS
@import "../vendor/bootstrap/less/scaffolding.less";
@import "../vendor/bootstrap/less/type.less";
@import "../vendor/bootstrap/less/code.less";
@import "../vendor/bootstrap/less/grid.less";
@import "../vendor/bootstrap/less/tables.less";
@import "../vendor/bootstrap/less/forms.less";
@import "../vendor/bootstrap/less/buttons.less";

// Components
@import "../vendor/bootstrap/less/component-animations.less";
// @import "../vendor/bootstrap/less/glyphicons.less";
@import "../vendor/bootstrap/less/dropdowns.less";
@import "../vendor/bootstrap/less/button-groups.less";
@import "../vendor/bootstrap/less/input-groups.less";
@import "../vendor/bootstrap/less/navs.less";
@import "../vendor/bootstrap/less/navbar.less";
// @import "../vendor/bootstrap/less/breadcrumbs.less";
@import "../vendor/bootstrap/less/pagination.less";
@import "../vendor/bootstrap/less/pager.less";
@import "../vendor/bootstrap/less/labels.less";
@import "../vendor/bootstrap/less/badges.less";
@import "../vendor/bootstrap/less/jumbotron.less";
// @import "../vendor/bootstrap/less/thumbnails.less";
@import "../vendor/bootstrap/less/alerts.less";
// @import "../vendor/bootstrap/less/progress-bars.less";
@import "../vendor/bootstrap/less/media.less";
@import "../vendor/bootstrap/less/list-group.less";
@import "../vendor/bootstrap/less/panels.less";
// @import "../vendor/bootstrap/less/wells.less";
@import "../vendor/bootstrap/less/close.less";

// Components w/ JavaScript
// @import "../vendor/bootstrap/less/modals.less";
// @import "../vendor/bootstrap/less/tooltip.less";
// @import "../vendor/bootstrap/less/popovers.less";
// @import "../vendor/bootstrap/less/carousel.less";

// Utility classes
@import "../vendor/bootstrap/less/utilities.less";
@import "../vendor/bootstrap/less/responsive-utilities.less";


// Mixins
.grayscale-image {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}

.cover-background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Base layout 
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  color: @text-color;

  background: url(/static/images/pics/soweto.png) no-repeat center center fixed; 
  .cover-background();
}

.container-fluid {
  background-color: @body-background;
  //max-width: 1000px;
  padding: 2em;
  margin: 5% 10% 0 10%;
}

h1, h2, h3, h4 {
  font-weight: 800;
  text-transform: uppercase;
}

a, a:hover {
  color: @text-color;
  text-decoration: underline;
}

a:hover {
  color: darken(@theme-color, 10%);
}

.simple-links {
  a {
    text-decoration: none;
  }
}

h3.teaser, .nav-tabs, .navbar, .list-group {
  .simple-links;
}

// Responsive fixes. 

@media (max-width: @screen-xs-max) {
  footer {
    .partners {
      display: none;
    }
  }

}

@media (max-width: @screen-sm-max) {
  .navbar-search {
    display: none;
  }

  .container-fluid {
    margin: 5% 0 0 0;
    padding: 10px;
  }
}


// Header style

.navbar.navbar-default {
  background-color: @header-background;
  border-bottom: 0px solid @light-gray;

  .navbar-brand {
    color: @theme-color;
    font-weight: 800;
    padding-left: 0px;
  }
}


// Footer style

footer {
  margin-bottom: -1em;
  color: @footer-foreground;

  .simple-links;

  a {
    color: @theme-color;
  }

  hr {
    border-top: 1px solid @light-gray;
  }

  p {
    font-size: 0.85em;
  }

  .partners {
    text-align: right;

    a, a:hover {
      text-decoration: none;
    }

    img {
      margin-left: 1em;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
}


// Modifications of bootstrap defaults

ul.pagination { margin: 0; }

li.active a {
  color: white;
}

.navbar-toggle {
  border: 0;
}

// Browser 

.main-search {
  width: 100%;
}

.form-search {
  .form-group {
    margin: 1em 0 1em 0;
    padding-left: 0;
    padding-right: 0;

    input.main-search {
      font-size: 1.2em;
      padding: 12px 24px 12px 24px;
      height: auto;
    }
  }
}

// Facets 

.facets {
  li.active {
    a {
      color: white;
    }
  }
}


// Home page specifics

.jumbotron {
  background-color: @theme-color;
  color: white;

  h1 {
    text-transform: none;
  }
}

.data-summary {
  width: 100%;

  td.number {
    width: 30%;
    text-align: right;
    padding-right: 1em;
  }
}

.teaser-image {
  margin-right: 1em;
  width: 150px;

  .grayscale-image;
}


// Profiles

.profile {

  .header {
    margin-bottom: 1em;
  }

  .relations {
    h3 {
      margin-bottom: -10px;
    }
  }

  .relation { 
    m-argin-bottom: 20px;

    a {
      font-size: 16px;
      font-weight: bold;

      .fa {
        color: @text-color;
      }
    }
    .details {
      margin: 4px 0 0 32px;
      font-size: 14px;
    }

    .fa {
      width: 16px;
      display: inline-block;
      text-align: center;
    }

    .fa-lg {
      width: 32px;
    }
  }

  img.profile-image {
    margin-bottom: 0;
    height: 10em;
    margin-right: 2em;
    //.grayscale-image;
    border-radius: 50%;
  }

  #filters {
    margin-bottom: 2em;
  }

  #bio {
  }

  #sources {
    font-size: small;

    ol {
      padding-left: 15px;
    }
  }
}


