// Variables

@theme-color: #1ad68f;
@light-gray: #ddd;
@dark-gray: #333;
@text-color: @dark-gray;
@light-text-color: lighten(@text-color, 20%);


// Functional

@footer-background: @dark-gray;
@footer-foreground: @dark-gray;
@header-background: white;
@header-foreground: @theme-color;
@body-background: white;

@brand-primary: @theme-color;
