_site/
*.DS_Store
*.jsonlog
.env
*.egg-info
pyenv/*
*.pyc
.cache
*.sublime*
*.log

connectedafrica/static/vendor/*
connectedafrica/static/gen/*
connectedafrica/static/.webassets-cache/*

data/.cache/*
data/gdocs/*.csv
data/npo/*.csv
data/npo/matched/*.csv
data/whoswho/*.csv
data/cipc_pdfs/*
data/profileimages.csv

reports/*
