_site/
*.DS_Store
*.jsonlog
.env
*.egg-info
pyenv/*
*.pyc

connectedafrica/static/vendor/*
connectedafrica/static/gen/*
connectedafrica/static/.webassets-cache/*

data/.cache/*
data/gdocs/*.csv
data/npo/*.csv
data/whoswho/*.csv
data/cipc_pdfs/*

reports/*
