{% macro paginate(pager) %}
  {% if pager.pages > 1 %}
    <div class="row">
      <div class="col-md-6 text-left">
        <ul class="pagination">
          {% for page in pager.range %}
            {% if page == pager.page %}
              <li class="active"><a>{{page}}</a></li>
            {% else %}
              <li><a href="{{pager.page_url(page)}}">{{page}}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-6 text-right">
        <p>
          Showing {{pager.offset+1}} to {{pager.offset+pager.limit}} of {{pager.pages}}.
        </p>
      </div>
    </div>
  {% endif %}
{% endmacro %}
