{% extends "layout.html" %}
{% from 'macros/paginator.html' import paginate %}
{% from "macros/profiles.html" import render_relation, render_property %}
{% from "macros/snippets.html" import entity_link, relation_ts %}

{% block title %}{{ display_name }}{% endblock %}

{% block description %}
  {% if entity.properties.tagline %}
    {{ entity.properties.tagline.value | truncate }}
  {% elif entity.properties.summary %}
    {{ entity.properties.summary.value | truncate }}
  {% endif %}
{% endblock %}

{% macro context_block() %}
  <h1>
    {% block displayname %}{{ display_name }}{% endblock %}
  </h1>
  <!-- TODO: summary and/or abstract -->

  <table class="table table-condensed table-properties">
    {% for property in properties %}
      <tr>
        <th width="25%">{{property.label}}:</th>
        <td>{{property.value}}</td>
      </tr>
    {% endfor %}
  </table>
{% endmacro %}

{% block content %}    
  <!-- div id="graph-viz" style="height: 300px;" data-entity-id="{{entity.id}}" data-api-endpoint="{{PROJECT_API}}"></div -->

  {% if properties.image_full %}
    <div class="row">
    <div class="col-sm-3 col-sm-push-9">
        <img src="{{ entity | portrait_url }}" class="profile-image" alt="{{ display_name }}">
      </div>
      <div class="col-sm-9 col-sm-pull-3">
        {{ context_block() }}
      </div>
      
    </div>
  {% else %}
    {{ context_block() }}
  {% endif %}


  {% for section in relation_sections %}
    <h3 class="section-title">{{ section.schema.meta.section_label or section.schema.meta.plural or section.schema.label }}</h3>
    <p>{{section.schema.meta.get('section_text', '')}}</p>
    <table class="table table-condensed table-relations">
      <tr>
        <th>&nbsp;</th>
        {% for k, v in section.schema.meta.get('section_table', {}).items() %}
          <th>{{v}}</th>
        {% endfor %}
        <th>Dates</th>
        <th></th>
      </tr>
      {% for relation in section.relations %}
        <tr>
          <td>
            {{ entity_link(relation.other) }}
          </td>
          {% for k, v in section.schema.meta.get('section_table', {}).items() %}
            <td>{{ relation.props.get(k) or '-' }}</td>
          {% endfor %}
          <td width="10%">
            {{ relation_ts(relation) }}
          </td>
          <td width="1%">
            {% if relation | relation_source %}
              <a href="{{ relation | relation_source }}"><i class="fa fa-external-link-square"></i></a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
    {{ paginate(section.pager) }}
  {% endfor %}
{% endblock %}
