{% extends "layout.html" %}
{% from "macros/profiles.html" import render_relation, render_property %}

{% block title %}{{ display_name }}{% endblock %}

{% block description %}
  {% if entity.properties.tagline %}
    {{ entity.properties.tagline.value | truncate }}
  {% elif entity.properties.summary %}
    {{ entity.properties.summary.value | truncate }}
  {% endif %}
{% endblock %}

{% block content %}
<div class="profile">

  <div class="row header">
    <div class="col-md-12">

      {% if properties.image_full %}
        <div class="pull-left">
          <img src="{{ entity | portrait_url }}" class="profile-image" alt="{{ display_name }}">
        </div>
      {% endif %}
      <h1>
        {% block displayname %}{{ display_name }}{% endblock %}
      </h1>
      <p class="subtitle">
        {% block subtitle %}{{ render_property(entity, 'tagline', source_map) }}{% endblock %}
      </p>

    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      {% block rightpanel %}
      {% block bio %}
      <div id="bio">
        <h4>Details</h4>
        <p class="summary">
          {% block biotext %}
          {% if 'summary' in entity.properties %}
            {% if entity.properties.summary.value|length > 255 %}
              <span class="truncated">{{ entity.properties.summary.value|truncate }}<br/><a href="#" onclick="$('#bio .summary .truncated').hide(); $('#bio .summary .complete').show(); return false;">Show more</a></span>
              <span class="complete" style="display: none;">{{ entity.properties.summary.value }}<br/><a href="#" onclick="$('#bio .summary .truncated').show(); $('#bio .summary .complete').hide(); return false;">Show less</a></span>
            {% else %}
              {{ entity.properties.summary.value }}
            {% endif %}
          {% endif %}
          {% endblock %}
        </p>
        <table class="table">
          {% for property in properties %}
            <tr>
              <th>{{property.label}}:</th>
              <td>{{property.value}}</td>
            </tr>
          {% endfor %}
        </table>

        <div id="related-entities" class="text-center">
          {% block relatedentities %}{% endblock %}
        </div>
      </div>
      {% endblock %}

      {% block sources %}
      <div id="sources">
        <h4>Sources</h4>
        <ol>
          {% for source, n in source_map.iteritems() %}
            <li id="source-{{ n }}"><a href="{{ source }}">{{ source |
              source_readable }}</a></li>
          {% endfor %}
        </ol>
      </div>
      {% endblock %}
      {% endblock %}
    </div>
    <div class="col-md-8">
      huhu
    </div>
  </div>
</div>
 
{% endblock %}
